.MovieDetailsComponent {
    padding: 0 178px;
    font-family: Inter;
    color: black;
}
.ImageContainer{
    border: 1px solid transparent;
    border-radius: 16px;
    height: 540px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 71px;
}
.ImageOverlay{
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    padding: 24px 40px;
    position: absolute ;
    bottom: 0;
}
.Title{
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    max-width: 700px;
}
.UserRating{
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    padding: 32px 25px;
    position: absolute ;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.RoundPercentage{
    border-radius: 50%;
    background-color: #ffffff;
    color: #139810;
    padding: 20px 10px;
    margin-left: 148px;
}
.ContentRow1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.ContentColumn{
    flex: column;
}
.key{
    font-weight: 700;
}
.value{
    margin-bottom: 10px;
}
.Overviewheading{
    padding-bottom: 16px;
    font-weight: 700;
}
.Overview{
    margin-bottom: 24px;
    max-width: 716px;
}
.CastProfilePic{
    border-radius: 16px;
    width: 256px;
    overflow: hidden;
    margin-bottom: 25px;
}
.contentRow2, .contentRow3{
    position: relative;
    margin-bottom: 67px;
}
.CaraouselContainer{
    position: relative;
}
.prevButton, .nextButton{
    background: transparent;
    border: none;
    height: 24px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: center;
}
.prevButton.disable, .nextButton.disable{
    opacity: 0.5;
}
.prevButton{
    background-image: url("../../assets/left-arrow.svg");
}
.nextButton{
    background-image: url("../../assets//right-arrow.svg");
}
.carousel-button-group{
    position: absolute;
}
.buttonGroup{
    position: absolute;
    top: 0px;
    right: 0;
}
.Line{
    width: 100%;
    height: 0px;
    border: 1px solid #F2F1F8;
    margin-top: 46px;
    margin-bottom: 51px;
}
.contenrRow2Header{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 26px;
}
@media only screen and (max-width: 800px) {
    .MovieDetailsComponent {
        padding: 0;
    }
    .content{
        padding: 0 20px;
    }
}